<div ng-message="required">This field is required.</div>
<div ng-message="minlength">This field is too short.</div>
<div ng-message="maxlength">This field is too long.</div>
<div ng-message="pattern">This field contains invalid characters.</div>
<div ng-message="compareTo">Must match the previous entry.</div>
<div ng-message="email">This field is invalid.</div>