<div class="container" style="margin: 5em">

	<h1 style="margin-bottom: 1em">User detail - creation</h1>

	<form name="userAddForm" style="width: 25em" ng-submit="createNewUser()" novalidate>
		<div class="form-group" ng-class="{'has-error': (userAddForm.$submitted || userAddForm.inputFirstname.$touched) && userAddForm.inputFirstname.$invalid}">
			<label for="inputFirstname">First name</label>
			<input type="text" class="form-control" id="inputFirstname" name="inputFirstname" ng-model="user.firstname" ng-maxlength="10" required />
			<div
				ng-show="(userAddForm.$submitted || userAddForm.inputFirstname.$touched) && userAddForm.inputFirstname.$invalid"
				ng-messages="userAddForm.inputFirstname.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userAddForm.$submitted || userAddForm.inputLastname.$touched) && userAddForm.inputLastname.$invalid}">
			<label for="inputLastname">Last name</label>
			<input type="text" class="form-control" id="inputLastname" name="inputLastname" ng-model="user.lastname" ng-maxlength="20" required />
			<div
				ng-show="(userAddForm.$submitted || userAddForm.inputLastname.$touched) && userAddForm.inputLastname.$invalid"
				ng-messages="userAddForm.inputLastname.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userAddForm.$submitted || userAddForm.inputLogin.$touched) && userAddForm.inputLogin.$invalid}">
			<label for="inputLogin">Login</label>
			<input type="text" class="form-control" id="inputLogin" name="inputLogin" ng-model="user.login" ng-pattern="/^[a-zA-Z]+$/" ng-minlength="3" ng-maxlength="10" unique="login" required />
			<div
				ng-show="(userAddForm.$submitted || userAddForm.inputLogin.$touched) && userAddForm.inputLogin.$invalid"
				ng-messages="userAddForm.inputLogin.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442">
				<div ng-message="minlength">This field must be between 3 and 10 characters long.</div>
				<div ng-message="maxlength">This field must be between 3 and 10 characters long.</div>
				<div ng-message="unique">This value is taken.</div>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userAddForm.$submitted || userAddForm.inputPassword.$touched) && userAddForm.inputPassword.$invalid}">
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" id="inputPassword" name="inputPassword" ng-model="user.password" ng-minlength="5" required />
			<div
				ng-show="(userAddForm.$submitted || userAddForm.inputPassword.$touched) && userAddForm.inputPassword.$invalid"
				ng-messages="userAddForm.inputPassword.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userAddForm.$submitted || userAddForm.inputRepeatPassword.$touched) && userAddForm.inputRepeatPassword.$invalid}">
			<label for="inputRepeatPassword">Repeat password</label>
			<input type="password" class="form-control" id="inputRepeatPassword" name="inputRepeatPassword" ng-model="user.repeatPassword" ng-minlength="5" compare-to="user.password" required />
			<div
				ng-show="(userAddForm.$submitted || userAddForm.inputRepeatPassword.$touched) && userAddForm.inputRepeatPassword.$invalid"
				ng-messages="userAddForm.inputRepeatPassword.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userAddForm.$submitted || userAddForm.inputEmail.$touched) && userAddForm.inputEmail.$invalid}">
			<label for="inputEmail">E-mail</label>
			<input type="email" class="form-control" id="inputEmail" name="inputEmail" ng-model="user.email" unique="email" required />
			<div
				ng-show="(userAddForm.$submitted || userAddForm.inputEmail.$touched) && userAddForm.inputEmail.$invalid"
				ng-messages="userAddForm.inputEmail.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442">
				<div ng-message="unique">This value is taken.</div>
			</div>
		</div>
		<div class="checkbox">
		    <label>
		      <input type="checkbox" ng-model="user.active"> Enable account
		    </label>
  		</div>
		<div class="form-group" ng-class="{'has-error': (userAddForm.$submitted || userAddForm.textareaNote.$touched) && userAddForm.textareaNote.$invalid}">
			<label for="textareaNote">Note</label>
			<textarea rows="3" class="form-control" id="textareaNote" name="textareaNote" ng-model="user.note" ng-maxlength="100" style="resize: none"></textarea>
			<div
				ng-show="(userAddForm.$submitted || userAddForm.textareaNote.$touched) && userAddForm.textareaNote.$invalid"
				ng-messages="userAddForm.textareaNote.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div style="margin-top: 1em">
			<input type="submit" class="btn btn-primary" style="width: 8em" value="Add" />
			<a ng-click="cancel()" class="btn btn-default" style="width: 8em">Cancel</a>
		</div>
	</form>

</div>
