<div style="margin: 5em">

	<h1 style="margin-bottom: 1em">User detail - edit</h1>

	<form name="userEditForm" style="width: 25em" ng-submit="updateUser()" novalidate>
		<div class="form-group" ng-class="{'has-error': (userEditForm.$submitted || userEditForm.inputFirstname.$touched) && userEditForm.inputFirstname.$invalid}">
			<label for="inputFirstname">First name</label>
			<input type="text" class="form-control" id="inputFirstname" name="inputFirstname" ng-model="user.firstname" ng-maxlength="10" required />
			<div
				ng-show="(userEditForm.$submitted || userEditForm.inputFirstname.$touched) && userEditForm.inputFirstname.$invalid"
				ng-messages="userEditForm.inputFirstname.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userEditForm.$submitted || userEditForm.inputLastname.$touched) && userEditForm.inputLastname.$invalid}">
			<label for="inputLastname">Last name</label>
			<input type="text" class="form-control" id="inputLastname" name="inputLastname" ng-model="user.lastname" ng-maxlength="20" required />
			<div
				ng-show="(userEditForm.$submitted || userEditForm.inputLastname.$touched) && userEditForm.inputLastname.$invalid"
				ng-messages="userEditForm.inputLastname.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userEditForm.$submitted || userEditForm.inputLogin.$touched) && userEditForm.inputLogin.$invalid}">
			<label for="inputLogin">Login</label>
			<input type="text" class="form-control" id="inputLogin" name="inputLogin" ng-model="user.login" ng-pattern="/^[a-zA-Z]+$/" ng-minlength="3" ng-maxlength="10" required />
			<div
				ng-show="(userEditForm.$submitted || userEditForm.inputLogin.$touched) && userEditForm.inputLogin.$invalid"
				ng-messages="userEditForm.inputLogin.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442">
				<div ng-message="minlength">This field must be between 3 and 10 characters long.</div>
				<div ng-message="maxlength">This field must be between 3 and 10 characters long.</div>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': (userEditForm.$submitted || userEditForm.inputEmail.$touched) && userEditForm.inputEmail.$invalid}">
			<label for="inputEmail">E-mail</label>
			<input type="email" class="form-control" id="inputEmail" name="inputEmail" ng-model="user.email" required />
			<div
				ng-show="(userEditForm.$submitted || userEditForm.inputEmail.$touched) && userEditForm.inputEmail.$invalid"
				ng-messages="userEditForm.inputEmail.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div class="checkbox">
		    <label>
		      <input type="checkbox" ng-model="user.active"> Enable account
		    </label>
  		</div>
		<div class="form-group" ng-class="{'has-error': (userEditForm.$submitted || userEditForm.textareaNote.$touched) && userEditForm.textareaNote.$invalid}">
			<label for="textareaNote">Note</label>
			<textarea rows="3" class="form-control" id="textareaNote" name="textareaNote" ng-model="user.note" ng-maxlength="100" style="resize: none"></textarea>
			<div
				ng-show="(userEditForm.$submitted || userEditForm.textareaNote.$touched) && userEditForm.textareaNote.$invalid"
				ng-messages="userEditForm.textareaNote.$error" ng-messages-include="app/partials/messages.html" style="color: #a94442"></div>
		</div>
		<div style="margin-top: 1em">
			<input type="submit" class="btn btn-primary" style="width: 8em" value="Update" />
			<a ng-click="cancel()" class="btn btn-default" style="width: 8em">Cancel</a>
		</div>
	</form>

</div>
